/*****************************************************************************
 Search module
 *****************************************************************************/
#search-block-form .form-submit {
  margin-left: -3px;
}

/*****************************************************************************
 System module
 *****************************************************************************/
ul.primary {
  padding: 0;
  height: 21px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0 0;
}
ul.primary li {
  float: left;
  padding: 6px 0 5px 0;
  margin-left: 5px;
}
ul.secondary li {
  padding: 3px 0 6px 0;
  border-right: 0;
  float: left;
  margin-left: 5px;
}
