/*****************************************************************************
 Eric Meyer's reset reloaded
 http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 *****************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/*****************************************************************************
 HTML elements
 *****************************************************************************/
body {
  background-color: #fff;
  color: #484848;
  font: 13px/150% Verdana, Geneva, sans-serif;
}
a:focus {
  outline: 1px dotted #484848;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
hr {
  border: 1px solid #ccc;
}
p, pre, div.codeblock, blockquote {
  margin: 12px 0;
}
p, pre, blockquote, #mission {
  text-align: justify;
}
blockquote {
  background-color: #f1f1f1;
  border-left: 5px solid #ccc;
  padding: 5px;
}
blockquote p {
  margin: 0;
}
pre, div.codeblock {
  padding: 3px;
  border: 1px solid #ccc;
}
a:link, a:visited {
  color: #2474a6;
  text-decoration: none;
}
a:hover, a:active {
  color: #3096d6;
  text-decoration: underline;
}
abbr, acronym, cite {
  border-bottom: 1px dotted #ccc;
}
address, em, dfn, var {
  font-style: italic;
}
big {
  font-size: 120%;
}
pre, code, kbd, samp, tt, div.codeblock {
  font-family: "Courier New", Courier, monospace;
  background-color: #f1f1f1;
}
del, s, strike {
  text-decoration: line-through;
}
img {
  border: 0;
}
ins {
  text-decoration: underline;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
small {
  font-size: 80%;
}
strong, label, legend {
  font-weight: bold;
}
sub, sup {
  font-size: xx-small;
}
sub {
  vertical-align: bottom;
}
sup {
  vertical-align: top;
}
dt {
  margin-top: 5px;
}
dd {
  margin: 0 0 10px 10px;
}
ol, ul {
  margin-left: 32px;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
fieldset {
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #c4c4c4;
  background: #fdfdfd;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

thead th {
  padding: 3px 6px;
}
th {
  padding: 3px 6px;
  background: #fdfdfd;
  font-weight: bold;
}
td {
  padding: 3px 6px;
  vertical-align: top;
}
.form-text, .form-select, .form-textarea, .form-file, .form.submit {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}
.form-text, .form-select, .form-textarea, .form-file {
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #484848;
  padding: 5px;
}
.form-text:focus, .form-select:focus, .form-textarea:focus {
  border-color: #9b9b9b;
  background: #fffee6;
}

/*****************************************************************************
 Layout styles
 *****************************************************************************/
.clear-block {
  clear: both;
}
#page-upper {
  background: transparent url(images/header-bg.png) repeat-x left top;
}
.container {
  width: 960px;
  margin: 0 auto;
}
#header {
  height: 90px;
}
#logo-and-site-name,
#main,
#left-sidebar,
#secondary {
  float: left;
}
#primary,
#sidebars,
#right-sidebar,
#footer-message {
  float: right;
}
#logo-and-site-name, #primary {
  height: 90px;
}
#logo-and-site-name img {
  float: left;
}
#site-name {
  margin: 30px 0 0 10px;
  float: left;
  padding: 10px 0;
}
#site-name a:link, #site-name a:visited, #site-name a:hover, #site-name a:active {
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
#site-name a:hover, #site-name a:active {
  text-decoration: none;
}
#primary ul {
	padding: 0;
	margin: 0;
  line-height: 1;
}
#primary ul li {
	float: left;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#primary ul li a {
  color: #fff;
  font: bold 20px Arial, Helvetica, sans-serif;
  padding: 42px 20px 23px 20px;
}
#primary ul li a:hover, #primary ul li a:active, #primary ul li a.active, #primary ul li:hover, #primary ul li.over {
  text-decoration: none;
  background: #1479b7;
}
#primary ul ul {
	position: absolute;
	background: #d7dee2;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #b6c3ca;
	width: 160px;
	left: -999em;
  z-index: 999;
}
#primary ul ul li {
	width: 160px;
}
#primary ul ul li a {
	width: 120px;
  display: block;
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #34617e;
  padding: 7px 20px;
  border-bottom: 1px solid #b6c3ca;
}
#primary ul ul li a:hover, #primary ul ul li a:active, #primary ul ul li a.active, #primary ul ul li:hover, #primary ul ul li.over {
  text-decoration: none;
  background: #a6bac5;
}
#primary ul ul ul {
	margin: -32px 0 0 160px;
}
#primary ul li:hover ul ul, #primary ul li.sfhover ul ul {
	left: -999em;
}
#primary ul li:hover ul, #primary ul li li:hover ul, #primary ul li.sfhover ul, #primary ul li li.sfhover ul {
	left: auto;
}
#main-and-sidebars.container {
  background: #fff url(images/book-spine.png) repeat-y right top;
  padding: 20px 0 40px 0;
}
#main {
  width: 500px;
}
.breadcrumb {
  padding: 0 0 10px 0;
  color: #ccc;
  font-size: 11px;
  font-weight: bold;
}
.breadcrumb a {
  font-size: 13px;
  font-weight: normal;
}
#mission {
  color: #ca9a51;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 15px;
}
#mission a:link, #mission a:visited, #mission a:hover, #mission a:active {
  color: #f2b75c;
}
#mission a:hover, #mission a:active {
  text-decoration: underline;
}
#content-top {
  padding: 10px 0;
}
#content-top div.block h2 {
  color: #cbcbcb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
#sidebars {
  width: 380px;
}
#left-sidebar {
  width: 220px;
}
#right-sidebar {
  width: 140px;
}
#page-lower {
  background: #0080c6 url(images/footer-bg.png) repeat-x left top;
}
#footer {
  min-height: 35px;
  padding: 15px 0 10px 0;
  overflow: hidden;
  color: #ddd;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active, #footer a.active {
  color: #fff;
}
#footer a:hover, #footer a:active, #footer a.active {
  text-decoration: underline;
}
#secondary {
  font-size: 14px;
}
#secondary li {
  border-right: 1px solid #ddd;
  float: left;
  padding: 0 15px;
}
#secondary li.first {
  padding-left: 0;
}
#secondary li.last {
  border-right: 0;
}
#footer-message {
  margin-top: -5px;
}
#footer-message, #footer-message p {
  text-align: right;
}

/*****************************************************************************
 Agregator module
 *****************************************************************************/
#aggregator .feed-source .feed-icon {
  margin: 0 0 15px 15px;
}
#aggregator .feed-item {
  margin-bottom: 30px;
}
#aggregator .feed-item-title {
  font-size: 30px;
}
#aggregator .feed-item-title a {
  text-decoration: underline;
}
#aggregator .feed-item-meta {
  color: #999;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0;
}
#aggregator td {
  vertical-align: top;
}
#aggregator td .feed-item {
  background: none;
}
#aggregator .feed-source, #aggregator .feed-description {
  margin: 12px 0;
}

/*****************************************************************************
 Block module
 *****************************************************************************/
#blocks td.region {
  background: #e4e4e4;
  border-bottom: 1px solid #ccc;
}
#blocks tr.region-message {
  background-color: #fafafa;
}
.block-region {
  background-color: #edf3f6;
  border: 3px dashed #b6c3ca;
  color: #73838c;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}
#sidebars .block-region {
  margin-bottom: 20px;
}
#content .block-region {
  margin-top: 20px;
}
#sidebars .block {
  border: 1px solid #ccc;
  background: #fff url(images/sidebar-block-bg.png) repeat-x left top;
  padding: 15px;
  margin-bottom: 20px;
}
.block h2 {
  color: #34617e;
  margin-bottom: 10px;
}
.block ul li {
  text-align: left;
}

/*****************************************************************************
 Book module
 *****************************************************************************/
.book-navigation {
  border-top: 1px solid #c4c4c4;
  margin: 10px 0;
}
.book-navigation .menu {
  border-top: 0;
  padding: 3px 0 5px 0;
}
.book-navigation .page-links {
  padding: 5px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}
#book-outline {
  min-width: 100%;
}

/*****************************************************************************
 Comment module
 *****************************************************************************/
.indented {
  margin-left: 0;
}
.comment {
  border: 1px solid #ddd;
  background: #f8f9f9;
  margin-bottom: 15px;
}
.comment .comment-info {
  background: #d6dde0;
  border-bottom: 1px solid #ddd;
  padding: 15px 0 15px 15px;
  color: #34617e;
}
.comment .picture {
  float: right;
  margin: -15px 0 0 15px;
}
.comment .content {
  padding: 5px 15px 15px 15px;
}
.comment-by-author-of-post {
  background: #fff7eb;
  border-color: #e7dccb;
}
.comment-by-author-of-post .comment-info {
  background: #ffe4bb;
  border-color: #e7dccb;
}
.comment .control-links {
  text-align: right;
  padding-top: 5px;
}
#comments {
  margin-top: -10px;
}
#comments .comment-count {
  margin-bottom: 15px;
}
#comments .box {
  padding: 15px;
  border: 1px solid #c4c4c4;
  background: #fdfdfd;
  margin-top: 30px;
}

/*****************************************************************************
 Database Logging module
 *****************************************************************************/
#admin-dblog tr.dblog-warning.even td {
  background-color: #fbfbda;
}
#admin-dblog tr.dblog-warning.odd td {
  background-color: #fefeeb;
}
#admin-dblog tr.dblog-warning.even td.active {
  background-color: #f3f3b7;
}
#admin-dblog tr.dblog-warning.odd td.active {
  background-color: #f6f6c7;
}
#admin-dblog tr.dblog-error.even td {
  background-color: #fbdada;
}
#admin-dblog tr.dblog-error.odd td {
  background-color: #fce2e2;
}
#admin-dblog tr.dblog-error.even td.active {
  background-color: #f2c6c6;
}
#admin-dblog tr.dblog-error.odd td.active {
  background-color: #f3cfcf;
}

/*****************************************************************************
 Forum module
 *****************************************************************************/
#forum .description {
  font-size: 11px;
  color: #999;
}
#forum td.container {
  background: #e4e4e4;
}
#forum .name a {
  font-weight: bold;
  display: block;
}
#forum tr td.forum {
  padding-left: 30px;
  background-position: 7px 5px;
}
#forum div.indent {
  margin-left: 0;
}
.forum-topic-navigation {
  padding: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.forum-topic-navigation .topic-previous {
  text-align: left;
}
.forum-topic-navigation .topic-next {
  text-align: right;
}

/*****************************************************************************
 Node module
 *****************************************************************************/
.node-unpublished, .preview .node {
  padding: 15px;
}
.preview .node {
  border: 1px solid #f4f4c6;
}
#node-admin-filter ul li {
  list-style-type: none;
}
td.revision-current {
  background: #fffbd6;
}
.node {
  margin-bottom: 30px;
}
h1.title, .node h2.title {
  font-size: 30px;
}
.node h2.title a {
  text-decoration: underline;
}
.meta {
  color: #999;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0;
}
div.terms ul.links li {
  padding: 0 5px 0 0;
}
div.terms ul.links li:after {
  content: ",";
}
div.terms ul.links li.last:after {
  content: "";
}
.node ul.links, .node ul.links li, .node ul.links li a {
  margin: 0;
  padding: 0;
}
.node .control-links {
  padding-top: 5px;
}
.node .control-links ul.links {
  font-size: 15px;
  color: #999;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.node .control-links ul.links li {
  padding-right: 10px;
}
.node .control-links ul.links li.comment_add a, .node .control-links ul.links li.comment_comments a {
  padding-left: 20px;
  background: url(images/icon-comments.png) no-repeat left center;
}
.node .control-links ul.links li.node_read_more a {
  padding-left: 20px;
  background: url(images/icon-read-more.png) no-repeat left center;
}

/*****************************************************************************
 OpenID module
 *****************************************************************************/
#edit-openid-identifier {
  background-image: url(images/openid.gif);
  background-position: 3px 50%;
}
#user-login-form li.openid-link,
#user-login li.openid-link {
  background: none;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background: transparent url(images/openid.gif) no-repeat right center;
  padding-right: 20px;
}

/*****************************************************************************
 Poll module
 *****************************************************************************/
.poll .bar {
  background: #ccc;
}
.poll .bar .foreground {
  background: #f1f1f1;
}
.poll .vote-form {
  text-align: left;
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .title {
  font-weight: bold;
}

/*****************************************************************************
 Search module
 *****************************************************************************/
.search-results dt {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.search-results dt a {
  display: block;
}
.search-results dd {
  margin: 5px 0 0 10px;
}
.search-results .search-info {
  font-size: 11px;
  color: #999;
}
#search-block-form .form-text, #search-block-form .form-submit {
  margin: 0;
  padding: 0;
}
#search-block-form .form-text {
  padding: 7px;
  float: left;
}
#left-and-right-sidebar-joined #search-block-form .form-text {
  width: 290px;
}
#left-sidebar #search-block-form .form-text {
  width: 130px;
}
#right-sidebar #search-block-form .form-text {
  width: 50px;
}
#search-block-form .form-submit {
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

/*****************************************************************************
 System module
 *****************************************************************************/
/*
 * HTML elements
 */
tr.odd {
  background-color: #f4f4f4;
}
tr.even {
  background-color: #fafafa;
}
tr.drag {
  background-color: #fffdee;
}
tr.drag-previous {
  background-color: #fffbd6;
}
tr.odd td.active {
  background-color: #e9e9e9;
}
tr.even td.active {
  background-color: #f1f1f1;
}

/*
 * Formatting for administration page
 */
div.admin-panel {
  margin: 0 0 20px 0;
  padding: 15px;
  border: 1px solid #c4c4c4;
  background: #fdfdfd;
}
div.admin .left {
  width: 48%;
  margin-left: 0;
  clear: none;
}
div.admin .right {
  width: 48%;
  margin-right: 0;
  clear: none;
}
table.package .description {
  color: #666;
  font-size: 11px;
}

/*
 * Formatting for status report
 */
table.system-status-report tr.info th, table.system-status-report tr.info td {
  background: #eee;
}
table.system-status-report tr.ok th, table.system-status-report tr.ok td {
  background-color: #dbffca;
}
table.system-status-report tr.warning th, table.system-status-report tr.warning td {
  background-color: #fffdca;
}
table.system-status-report tr.error th, table.system-status-report tr.error td {
  background-color: #ffcaca;
}
table.system-status-report td {
  padding: 6px;
}

/*
 * Other common styles
 */
div.messages, div.warning {
  padding: 3px 6px;
  margin: 5px 0;
  border-width: 1px;
  border-style: solid;
  color: #484848;
}
div.messages.status, div.ok {
  background-color: #dbffca;
  border-color: #a5cb93;
}
div.warning {
  background-color: #fffdca;
  border-color: #e0dea4;
}
div.error {
  background-color: #ffcaca;
  border-color: #dd9393;
}
.item-list ul {
  margin: 0 0 0 6px;
}
.item-list ul li {
  margin: 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #f2C0C0;
  background-color: #fff2f2;
}
.form-item .description {
  font-size: 11px;
  color: #999;
}
.marker, .form-required {
  color: #ff9000;
}
.item-list .pager {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.item-list .pager a {
  color: #999;
}
.item-list .pager a:hover, .item-list .pager a:active, .pager-current {
  color: #484848;
}
.tips {
  font-size: 11px;
  color: #999;
}

/*
 * Tab navigation
 */
ul.primary {
  padding: 0 0 6px 0;
  height: 21px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0 0;
}
ul.primary li {
  float: left;
  padding: 6px 0;
  margin-left: 5px;
}
ul.primary li a {
  background-color: #f4f4f4;
  border-color: #ccc;
  margin-right: 0;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
ul.primary li.active a {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fafafa;
  color: #666;
}
ul.secondary {
  border-bottom: 1px solid #ccc;
  padding: 0;
  height: 27px;
  margin: 0;
}
ul.secondary li {
  padding: 3px 0 7px 0;
  border-right: 0;
  float: left;
  margin-left: 5px;
}
ul.secondary a {
  padding: 3px 6px;
}
ul.secondary a:hover, ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/*
 * Autocomplete styles
 */
/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 99% 6px;
}
html.js input.throbbing {
  background-position: 99% -14px;
}

/*
 * To be used with tableselect.js
 */
tr.selected td {
  background: #fffbd6;
}

/*
 * Floating header for tableheader.js
 */
table.sticky-header {
  margin-left: 1px;
}

/*
 * Password strength indicator
 */
div.password-description {
  padding: 3px 6px;
  margin: 5px 0 0 0;
  font-size: 13px;
  max-width: 500px;
}

/*
 * System menus
 */
ul.menu a {
  display: block;
}
li.expanded {
  list-style-image: url(images/menu-expanded.gif);
}
li.collapsed {
  list-style-image: url(images/menu-collapsed.gif);
}
li.leaf {
  list-style-image: url(images/menu-leaf.gif);
}
li a.active {
  color: #3096d6;
}

/*****************************************************************************
 User module
 *****************************************************************************/
#permissions td.module {
  background: #e4e4e4;
}
#user-admin-filter ul li {
  list-style-type: none;
}
#user-admin-settings fieldset .description {
  font-size: 11px;
  color: #999;
}
